.hero-thumbnail {
  height: 200px;
  width: 150px;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin-right: 40px;
  border-radius: 25%;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 50px;
}

.previous-page {
  margin-right: 20px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

.loading {
  font-size: 100px;
  text-align: center;
  margin-top: 40vh;
}

.ironman{
  margin-top: 180px;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* fixed = paraliax */
  /* scroll = normal */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("./img/marvel-heroes.jpg");
  min-height: 600px;
}

.pimg2 {
  background-image: url("./img/avengers-tower.png");
  min-height: 400px;
}

.pimg3 {
  background-image: url("./img/marvel-villians.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section1 {
  background-color: black;
  color: white;
}

.section2 {
  background-color: black;
  color: white;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: white;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width: 568px) {
  .pimg1, .pimg2, .pimg3 {
      background-attachment: scroll;
  }
}