.button-container {
  margin-top: 80px;
  margin-right: 120px;
  display: inline-block;
}

.previous-page {
  margin-right: 20px;
}

.previous-page, .next-page {
  position: relative;
  padding: 10px;
  border: 0;
  background-color: transparent;
  color: white;
  letter-spacing: 0.25rem;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.previous-page:hover, .next-page:hover {
  background: darkblue;
}

.input {
  margin-bottom: 20px;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}

.loading {
  text-align: center;
  margin-top: 40vh;
  position: relatives;
  font-size: 8rem;
  letter-spacing: 0.05rem;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* fixed = paraliax */
  /* scroll = normal */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../../pictures/marvel-heroes.jpg");
  min-height: 600px;
}

.pimg2 {
  background-image: url("../../pictures/avengers-tower.png");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../../pictures/marvel-villians.jpg");
  min-height: 400px;
}

.ptext {
  margin-top: 100px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section1 {
  background-color: black;
  color: white;
}

.section2 {
  background-color: black;
  color: white;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
}

.ptext .border {
  background-color: #111;
  color: white;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pimg1, .pimg2, .pimg3, .spider-man {
    background-attachment: fixed;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pimg1, .pimg2, .pimg3, .spider-man {
    background-attachment: fixed;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pimg1, .pimg2, .pimg3, .spider-man {
    background-attachment: fixed;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pimg1, .pimg2, .pimg3, .spider-man {
    background-attachment: fixed;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pimg1, .pimg2, .pimg3, .spider-man {
    background-attachment: fixed;
  }
}